  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Consulta de Tramites</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <!-- Default box -->
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Datos del Tramite</h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                  <!--botones del card-->
                </div>
                <!--Aqui empieza el body del card-->

                <div class="table-responsive animated fadeInDown">
                    <table class="table full-color-table full-primary-table hover-table">
                        <thead>
                            <tr>
                                <th>Expediente</th>
                                <th>Fecha Recepcion</th>
                                <th>Tramitante</th>
                                <th>Asunto</th>
                                <th>Area Atiende</th>
                                <th>Estado</th>
                                <th>Usuario</th>
                                <th>Atender</th>
                                <th>Fujo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0010</td>
                                <td>2022-10-12</td>
                                <td>Juan Perez</td>
                                <td>Solicito unas papitas fritas</td>
                                <td>Plataforma1</td>
                                <td>Ingresado</td>
                                <td>Ana Lopez</td>
                                <td> 
                                    <a class="btn btn-warning" data-toggle="modal" data-target=".example2-modal-lg"><i class="fa fa-edit"></i></a>
                                </td>
                                <td> 
                                    <a class="btn btn-success"><i class="fa fa-archive"></i></a>
                                </td>
                            </tr>     
                            <tr>
                                <td>0560</td>
                                <td>2022-10-10</td>
                                <td>Perico de los Palotes</td>
                                <td>Solicito un sistema angular</td>
                                <td>Plataforma2</td>
                                <td>Ingresado</td>
                                <td>Ana Lopez</td>
                                <td> 
                                    <a class="btn btn-warning" data-toggle="modal" data-target=".example2-modal-lg"><i class="fa fa-edit"></i></a>
                                </td>
                                <td> 
                                    <a class="btn btn-success"><i class="fa fa-archive"></i></a>
                                </td>
                            </tr>                                     
                        </tbody>
                    </table>
                    
                </div> 

                <!-- aqui acaba el body del card -->

                <div class="card-footer">
                    <span class="h5"> aqui va una paginacion</span>
                </div>
                <!-- /.card-footer-->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

